# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Streamlit local secrets
.streamlit/secrets.toml

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter / temp files
.ipynb_checkpoints/
*.log

portflow-ai_ backup/